<h1>about doggoneit</h1>
<hr/>

<h2>You've been a good boy haven't you? Have some extra biscuits!</h2>
<button id=biscuit_btn" type="button" onClick="location.reload()">Free Biscuit</button>
<h3>Doggy biscuits</h3>
<h3>{{user.userprofile.points}}</h3>

<hr/>
<p>
    Doggonnit App is a capstone project for PDX Code Guild by Marcel Schaeffer. <br /><br />
    More info......<br />
    I used Python, Javascript, HTML + CSS. Django and Bootstrap Frameworks. <br />
    I'd like to thank Matthew Cooper and Nick Riehl for their tremendous help. <br />
    Shout outs to my cohort too! What an awesome gang of coders!! <br />
</p>

<hr/>
<h3>Doggy statistics</h3>
<ul>
    <li>Dogs seen: {{ dogs_seen.value }}</li>
    <li>Dogs found: {{ dogs_found.value }}</li>
    <li>Dog profiles: ???</li>
</ul>

<a href="{% url 'doggonnitapp:dogmap' %}">Dog Map</a>

