<h1>dog registration page</h1>

<form action="{% url 'doggonnitapp:create_dog_profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" placeholder="dog name" name="name" required value="fido">
    <input type="text" placeholder="dog age" name="age" required value="2">

    <select name="sex" required>
        <option selected disabled> Gender </option>
        <option> Female </option>
        <option> Male </option>
    </select>

    <select name="breed" required>
            <option selected disabled> Breed </option>
        {% for breed in breeds %}
            <option>{{breed}}</option>
        {% endfor %}
    </select>

    <select name="color" required>
            <option selected disabled> Color </option>
        {% for color in colors %}
            <option>{{color}}</option>
        {% endfor %}
    </select>

    <select name="pattern" required>
            <option selected disabled> Pattern </option>
        {% for pattern in patterns %}
            <option>{{pattern}}</option>
        {% endfor %}
    </select>

    <select name="weight" required>
            <option selected disabled> weight(lbs) </option>
        {% for weight in weights %}
            <option>{{weight}}</option>
        {% endfor %}
    </select>

    <select name="personality" required>
            <option selected disabled> Personality </option>
        {% for personality in personalities %}
            <option>{{personality}}</option>
        {% endfor %}
    </select>

    <input type="file" name="dog_image" accept="image/*" required>

    <button type="submit">Add Dog</button>

</form>

<div>*all fields required</div>



