{% load static %}

<head>
    <!--mapbox stuff-->
    <title>Doggoneit</title>
    <link rel="icon" href="{% static 'doggonnitapp/doggoneit_favicon.png' %}"/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>

    <!--bootstrap stuff-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <!--static file-->
    <link rel="stylesheet" href="{% static 'doggonnitapp/style.css' %}"/>


</head>
<div class="container">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#"><img src="{% static 'doggonnitapp/doggoneit_dp_v2.png' %}" height="50"
                                              id="site_logo"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'doggonnitapp:dogmap' %}">Dog Map <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:isawadog' %}">I Saw a Dog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:unknowndogmap' %}">Unidentified Dogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:myaccount' %}">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:create_dog_profile' %}">Register your Dog</a>
                </li>

                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:index' %}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doggonnitapp:mylogout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

{% block content %}
{% endblock %}

<hr/>
<div class="container">
    Doggoneit App. 2018. All rights reserved...or something like that. Donate Bitcoin: aw54uq5ujsaljgkjtgaslk25
</div>
