<style>
    img {
        width:150px;
        padding-bottom: 5px;
    }

    h3{
        color:lightseagreen;
        font-size: 24px;
    }
</style>

{% if dog.dog_is_lost  %}
    <h1>**MISSING**</h1>
{% endif %}

<h3> {{ dog.name.upper }} </h3>

<img src="{{MEDIA_URL}}{{ dog.dog_image }}" />

<div class="container">

    <div> Age : {{dog.age}} </div>
    <div> Gender : {{dog.sex}} </div>
    <div> Breed : {{dog.breed}} </div>
    <div> Color : {{dog.color}} </div>
    <div> Pattern : {{dog.pattern}} </div>
    <div> Weight : {{dog.weight}} lbs </div>
    <div> Personality : {{dog.personality}} </div>
    <div> Description : {{dog.description}} </div>

</div>

<form action="{% url 'doggonnitapp:dog_profile' dog.id %}" method="POST">
    {% csrf_token %}
    <button type="submit"> Report as missing </button>
</form>