<head>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>
</head>


<style>
    .container img {
        width:150px;
        padding-bottom: 5px;
    }

    .container h3{
        color:lightseagreen;
        font-size: 24px;
    }

    .marker_div {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
        background-image: url('{{MEDIA_URL}}{{ dog.dog_image }}');
        width: 75px;
        height: 75px;
        background-size: contain;
    }
</style>

<body>

    <div class="container">
        {% if dog.dog_is_lost  %}
            <h1>**MISSING**</h1>
            <h3>Missing since: {{dog.missing_since}}</h3>
        {% endif %}

        <h3> {{ dog.name.upper }} </h3>

        <img src="{{MEDIA_URL}}{{ dog.dog_image }}" />

        <div class="container">
            <div> Age : {{dog.age}} </div>
            <div> Gender : {{dog.sex}} </div>
            <div> Breed : {{dog.breed}} </div>
            <div> Color : {{dog.color}} </div>
            <div> Pattern : {{dog.pattern}} </div>
            <div> Weight : {{dog.weight}} lbs </div>
            <div> Personality : {{dog.personality}} </div>
            <div> Description : {{dog.description}} </div>
        </div>

        <form action="{% url 'doggonnitapp:dog_profile' dog.id %}" method="POST">
            {% csrf_token %}
            {% if dog.dog_is_lost  %}
                <button type="submit"> Report as found! </button>
                {% else %}
                    <button type="submit"> Report as missing </button>
            {% endif %}
        </form>
    </div>

    {% if dog.dog_is_lost %}
        <div id='map' style='width: 600px; height: 500px;'></div>

        <script>
            //home coordinates for dog
            let lat = {{ profile.latitude }};
            let lng = {{ profile.longitude }};
            let home_coordinates = [lng, lat];


            //add new map
            mapboxgl.accessToken = '{{ mapbox_api_key }}';
            let map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: home_coordinates,
                zoom: 10
            });

            //add map features
            map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                    },
                    trackUserLocation: true
            }));

            map.addControl(new mapboxgl.FullscreenControl());

            let nav = new mapboxgl.NavigationControl();
            map.addControl(nav, 'top-left');

            //create new marker for missing dog's home
            function new_lost_marker(lng, lat, el=undefined){
                return new mapboxgl.Marker(el)
                    .setLngLat([lng, lat])
                    .addTo(map);
            }

            let div = document.createElement('div');
            div.className = 'marker_div';

            new_lost_marker(lng, lat, div)


        </script>

    {% endif %}

    <a href="{% url 'doggonnitapp:dogmap' %}">Go to map of all missing dogs</a>

    <script>
        //add markers on click
        let marker;

        map.on('click', function (e) {
            let lat = e.lngLat.lat;
            let lng = e.lngLat.lng;
            remove_marker(marker);
            marker = new_lost_marker(lng, lat);

            document.getElementById('lat').value = lat;
            document.getElementById('lng').value = lng;
        });



        //remove marker if a previous one exists currently not working
        function remove_marker(marker) {
            if (marker !== undefined) {
                marker.remove();
            }
        }
//        let markers = JSON.parse("{{ dog_markers }}".replace(/&quot;/g, '\"'));
//        for (let i=0; i<markers.length; ++i) {
//            new_lost_marker(markers[i].lng, markers[i].lat)
//        }

        let coordinates_array = [];
        {% for dog_marker in dog.missingdogreport_set.all %}
        console.log('{{dog_marker.timestamp}}');
        new_lost_marker({{dog_marker.long}}, {{dog_marker.lat}});
        coordinates_array.push([{{dog_marker.long}}, {{dog_marker.lat}}]);
        {% endfor %}
        coordinates_array.unshift(home_coordinates);
        console.log(coordinates_array)
    </script>

    <form action="{% url 'doggonnitapp:irecognizethatdog' dog.pk %}" method="POST">
        {% csrf_token %}

        <div>
            <textarea rows="5" cols="75" placeholder="description/bonus details" name="description"></textarea>
        </div>

        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lng" id="lng">

        <button type="submit">I saw this dog!</button>
    </form>


<!--Add line connecting markers-->
    <script>
    map.on('load', function () {

    map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": coordinates_array
                }
            }
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
//        This works
        "paint": {
            "line-color": "#888",
            "line-width": 8
        }

// attempt at gradient
//        "paint": {
//         "colorGradient": {
//             "property": "colorValue",
//             "type": "interpolate",
//             "stops": [
//                 [0, #248216 ],
//                [0.5, #843099 ],
//                [1, #9e243a ]
//            ]
//        }
//    }

    });
});

</script>


</body>