<head>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>

</head>

<style>
    div{
        padding-top: 5px;
    }

    img{
        width: 250px;
        height: 250px;
    }

    .profile_container{
        display: flex;
        justify-content: space-between;
    }

    a{
        font-size: 24px;
    }

    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>

<body>
    <h1>Dogs reported missing</h1>
    <h2>If you have seen one of these dogs click on the 'find' link</h2>
    <div id='map' style='width: 600px; height: 500px;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_api_key }}';
        let map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-122.667, 45.523],
            zoom: 10
        });
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));

        map.addControl(new mapboxgl.FullscreenControl());

        let nav = new mapboxgl.NavigationControl();
        map.addControl(nav, 'top-left');


        function new_lost_marker(x, y){
            let marker = new mapboxgl.Marker()
                .setLngLat([x, y])
                .addTo(map);
        }

//      add markers for missing dogs to map
        {% for coordinate in coordinates %}

            new_lost_marker({{coordinate.lng}}, {{coordinate.lat}});


        {% endfor %}


//        map.on('click', function (e) {
//            let lat = e.lngLat.lat;
//            let lng = e.lngLat.lng;
//            new_lost_marker(lng, lat)
//        });

    </script>




    <hr/>

    <div class="profile_container">
        {% for dog in dogs%}
            <div class="dogs">
                <h1>**MISSING**</h1>
                <a href="{% url 'doggonnitapp:dog_profile' dog.id %}">Find {{dog.name.upper}}</a>
                <!--<h3> {{ dog.name.upper }} </h3>-->

                <img src="{{MEDIA_URL}}{{ dog.dog_image }}" />

                <div class="info_container">

                    <div> Age : {{dog.age}} </div>
                    <div> Gender : {{dog.sex}} </div>
                    <div> Breed : {{dog.breed}} </div>
                    <div> Color : {{dog.color}} </div>
                    <div> Pattern : {{dog.pattern}} </div>
                    <div> Weight : {{dog.weight}} lbs </div>
                    <div> Personality : {{dog.personality}} </div>
                    <div> Description : {{dog.description}} </div>

                </div>
            </div>
        {% endfor %}
    </div>

</body>