{% extends 'doggonnitapp/base.html' %}

{% block content %}
<div class="container">
    <div class="col">
        <h1>Doggonnit</h1>
        <h6>the app for when your dog is gone</h6>
    </div>

    <hr/>

    <div class="col">
        <form action="{% url 'doggonnitapp:mylogin' %}" method="POST">
            {% csrf_token %}

            <input type="text" placeholder="user name" name="user_name">
            <input type="password" placeholder="password" name="password">

            <button type="submit"> Sign in </button>

        </form>

        <a href="{% url 'doggonnitapp:registrationPage' %}">Create new account</a>
    </div>
</div>
{% endblock %}
