{% extends 'doggonnitapp/base.html' %}
{% block content %}
<!--<style>-->
    <!--img{-->
        <!--width:500px;-->
    <!--}-->
    <!--div{-->
        <!--font-size:24px;-->
    <!--}-->
<!--</style>-->
<div class="container">
    <h1>My account</h1>

    <h5>My dogs</h5>
    <hr/>
    <div class="row">
    {% for dog in dogs %}
        <div class="col">
            <div>{{dog.name.upper}}</div>
            <img class="dog_img" src="{{MEDIA_URL}}{{ dog.dog_image }}" />
        </div>
    {% endfor %}
    </div>
    <hr/>
    <h5>My points</h5>
    {{profile.points}}
</div>
{% endblock %}