<h1>human registration page</h1>

<form action="{% url 'doggonnitapp:create_user_profile' %}" method="POST">
    {% csrf_token %}

    <input type="text" placeholder="user name" name="username" required>
    <input type="password" placeholder="password" name="password" required>
    <input type="email" placeholder="email" name="email" required>
    <input type="text" placeholder="Street address" name="address" required>
    <input type="text" placeholder="City" name="city" required>

    <select name="state" required>
        {% for state in states %}
            {% if state == 'OR' %}
            <option selected>{{state}}</option>
            {% else %}
            <option>{{state}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit"> create account </button>

</form>


