<head>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>
</head>

<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <h1>Unknown dogs running around</h1>
    <div id='map' style='width: 600px; height: 500px;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_api_key }}';
        let map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-122.667, 45.523],
            zoom: 8
        });
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));

        map.addControl(new mapboxgl.FullscreenControl());

        let nav = new mapboxgl.NavigationControl();
        map.addControl(nav, 'top-left');


        function new_lost_marker(lng, lat, title, description, color) {
            let marker = new mapboxgl.Marker()
                .setLngLat([lng, lat])
                .addTo(map);
            if (title) {
                console.log('!!!')
                marker.setPopup(new mapboxgl.Popup({ offset: 25 })
                    .setHTML('<h3>' + title + '</h3><p>' + description + '</p>' + '<p>' + color + '</p>'))
                    .addTo(map);
            }
        }




        {% for marker in markers %}
            {% if marker.description != '' %};
            new_lost_marker({{marker.long}}, {{marker.lat}}, 'MISSING', "Description: {{marker.description}}", "Color: {{marker.color}}");
            {% else %}
            new_lost_marker({{marker.long}}, {{marker.lat}});
            {% endif %}
        {% endfor %}


    </script>

    <a href="{% url 'doggonnitapp:isawadog' %}">Add a dog you saw to this map</a>

</body>


